<!DOCTYPE html>
<html>
  <head>
    <style type='text/css'>
      table {
        width: 400px;
        border-spacing: 9px;
        border: 1px solid black;
      }
      th, td {
        padding: 5px;
        border: 1px solid black;
      }
      th {
        empty-cells: hide;
      }
    </style>
  </head>
  <body>
    <h1>TestCGI</h1>
    <p>Page testée :</p>
    <p>Le tableau ci-dessous affiche les noms et les valeurs des paramètres transmis de la page testée au CGI.</p>
    <table>
    <tr><th></th><th>Nom</th><th>Valeur(s)</th></tr>
      {% for k, v in form.items() %}
        <tr>
          <td>{{ loop.index }}</td>
          <td>{{ k }}</td>
          <td>{{ v|join(', ') }}</td>
        </tr>
      {% endfor %}
    </table>
  </body>
</html>
